<% ticker = @entry.public_send("#{ticker_slot}_ticker") %>
<li class="entry-ticker">
    <div class="ticker-slot">
        <%= ticker_slot.humanize[0..3] %>
    </div>
    <div class="ticker-pick">
        <% if ticker %>
            <%= truncate(ticker.name, length: 20) %> (<%= ticker.symbol %>)
        <% else %>
            Not selected
        <% end %>
    </div>

    <% latest_change = ticker.try('latest_change') || 0 %>
    <div class="return <%= latest_change > 0 ? 'green' : 'red' %>">
        <%= sprintf "%.2f", latest_change %>%
    </div>
</li>
