<li>
    <div class="left">
    </div>

    <div class="right">
        <% if entry.match.started? %>
            <span><%= entry.rank %> of <%= entry.match.entries.size %></span>
        <% else %>
            <span>starts <%= entry.match.start_at %></span>
        <% end %>
    </div>

    <% if entry.user == current_user && entry.editable? %>
        <%= link_to("Edit", edit_match_entry_path(entry.match, entry)) %>
        <%= link_to("View", match_entry_path(entry.match, entry)) %>
    <% elsif entry.match.started? %>
        <%= link_to("View", match_entry_path(entry.match, entry)) %>
    <% end %>
</li>
