<% ticker = @entry.public_send("#{ticker_slot}_ticker") %>
<li class="entry-ticker">
    <div class="ticker-slot">
        <%= truncate(ticker_slot.humanize, length: 8) %>
    </div>

    <div class="ticker-pick">
        <% if ticker %>
            <div class="ticker edit">
                <%= truncate(ticker.name, length: 10) %> (<%= ticker.symbol %>)
            </div>
        <% else %>
            <div class="ticker add">
                Add a ticker
            </div>
        <% end %>
    </div>

    <div class="link">
        <% if @entry.public_send("#{ticker_slot}_ticker") %>
            <%= link_to '', edit_match_entry_ticker_path(@match, @entry, ticker_slot), class: 'right-arrow' %>
        <% else %>
            <%= link_to '', edit_match_entry_ticker_path(@match, @entry, ticker_slot), class: 'right-arrow'%>
        <% end %>
    </div>
</li>
