<%= render @match %>

<h1>ENTRY IS HERE</h1>

<%= simple_form_for @entry, url: match_entry_path(@match, @entry) do |f| %>
    <div class="bg-danger">
        <%= f.error :user_id %>
    </div>

    <%= f.input :technology_ticker_id, collection: Ticker.all, label_method: :symbol %>

    <%= f.submit %>
<% end %>
