<div class="login-wrapper">
    <div class="logo">
        <%= image_tag("chess_king.png") %>
    </div>
    <h1>StocKings</h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

        <%= f.error_notification %>
        <%= f.input :email, autofocus: true, as: :email, label: false, placeholder: 'Email' %>

        <%= f.input :password, autocomplete: "off", as: :password, label: false, placeholder: 'Password' %>

        <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-default btn-block" %>
        </div>
    <% end %>

</div>
