<h1>Find a match!</h1>

<%= simple_form_for @match, class: 'form-horizontal' do |f| %>
    <%= f.input :duration, as: :select, collection: [1, 4, 20], label: 'Business Days' %>
    <%= f.input :max_entries, as: :select, collection: [2, 10, 50] %>
    <%= f.input :wager_cents, as: :select, collection: [ ['$1', 1_00], ['$5', 5_00], ['$10', 10_00]], label: 'Wager' %>

    <%= f.submit 'Find a match' %>
<% end %>
